In [1]:
import pandas as pd
import numpy as np

In [20]:
dataset = pd.read_csv("data/big.csv")

In [21]:
dataset

,Unnamed: 0,hair?,feathers?,eggs?,milk?,airborne?,aquatic?,predator?,toothed?,backbone?,...,tail?,domestic?,catsize?,mammal?,bird?,reptile?,fish?,amphibian?,insect?,invertebrate?
0,antelope,1,0,0,1,0,0,0,1,1,...,1,0,1,1,0,0,0,0,0,0
1,bass,0,0,1,0,0,1,1,1,1,...,1,0,0,0,0,0,1,0,0,0
2,bear,1,0,0,1,0,0,1,1,1,...,0,0,1,1,0,0,0,0,0,0
3,boar,1,0,0,1,0,0,1,1,1,...,1,0,1,1,0,0,0,0,0,0
4,buffalo,1,0,0,1,0,0,0,1,1,...,1,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,tuna,0,0,1,0,0,1,1,1,1,...,1,0,1,0,0,0,1,0,0,0
64,vulture,0,1,1,0,1,0,1,0,1,...,1,0,1,0,1,0,0,0,0,0
65,wasp,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
66,wolf,1,0,0,1,0,0,1,1,1,...,1,0,1,1,0,0,0,0,0,0
67,worm,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
X = dataset.iloc[:,1:]
X

,hair?,feathers?,eggs?,milk?,airborne?,aquatic?,predator?,toothed?,backbone?,breathes?,...,tail?,domestic?,catsize?,mammal?,bird?,reptile?,fish?,amphibian?,insect?,invertebrate?
0,1,0,0,1,0,0,0,1,1,1,...,1,0,1,1,0,0,0,0,0,0
1,0,0,1,0,0,1,1,1,1,0,...,1,0,0,0,0,0,1,0,0,0
2,1,0,0,1,0,0,1,1,1,1,...,0,0,1,1,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,1,0,1,1,0,0,0,0,0,0
4,1,0,0,1,0,0,0,1,1,1,...,1,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,0,0,1,0,0,1,1,1,1,0,...,1,0,1,0,0,0,1,0,0,0
64,0,1,1,0,1,0,1,0,1,1,...,1,0,1,0,1,0,0,0,0,0
65,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
66,1,0,0,1,0,0,1,1,1,1,...,1,0,1,1,0,0,0,0,0,0
67,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [23]:
y = dataset.iloc[:,0]

In [24]:
y

0     antelope
1         bass
2         bear
3         boar
4      buffalo
        ...
63        tuna
64     vulture
65        wasp
66        wolf
67        worm
Name: Unnamed: 0, Length: 68, dtype: object

In [8]:
X

,animal,is it warm blooded?,can it fly?,is it a vertebrate?,is it endangered?,does it live in groups?
0,0,0,0,0,0,1
1,1,0,1,0,0,1
2,2,1,0,1,0,0
3,3,0,0,0,0,0
4,4,1,1,1,0,1
5,5,1,1,1,1,0
6,6,1,0,1,1,1
7,7,0,1,0,0,0
8,8,0,0,1,0,1
9,9,0,0,1,0,0
10,10,1,0,1,1,1
11,11,1,0,1,0,1

In [9]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X.iloc[:,0:6],y)

DecisionTreeClassifier()

In [16]:
X_in = []
answer = int(input("Is it warm blooded? (1 for yes & 0 for no)"))
X_in.append(answer)
answer = int(input("Can it fly? (1 for yes & 0 for no)"))
X_in.append(answer)
answer = int(input("Is it vertebrate? (1 for yes & 0 for no)"))
X_in.append(answer)
answer = int(input("Is it endangered? (1 for yes & 0 for no)"))
X_in.append(answer)
answer = int(input("Does it live in groups? (1 for yes & 0 for no)"))
X_in.append(answer)
answer = int(input("Does it have hair? (1 for yes & 0 for no)"))
X_in.append(answer)

X_in = np.array(X_in)

In [17]:
y_pred = clf.predict([X_in])

C:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [18]:
y_pred

array([1], dtype=int64)